@page "/learnblazor/bindprop"




<h3>Product - One Way Data Binding </h3>
Name: @Product.Name <br />
IsActive : @Product.IsActive <br />
Price: @Product.Price <br />
This product is : @(Product.IsActive?"Active":"InActive") <br/>

IsActive: <input type="checkbox" @bind-value="@Product.IsActive" @bind-value:event="oninput" /> <br />

Input Price: <input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" /> <br />

@code {
    Models.Product Product = new()
        {
            Id = 1,
            Name = "Product 1",
            IsActive = true,
            Price = 5
        };
}
